<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Face Attendance System</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
  <header class="header">
    <h1>Prasad Institute Of Pharmaceutical College</h1>
  </header>

  <div class="container">
    <div class="split-container">
      <div class="left-half">
        <img src="https://kensan.educloud.app/lms/src/attendance/hero2.png" alt="Image" class="image">
      </div>
      <div class="right-half">
        <h2 class="centered-heading">Face Attendance System</h2>
        <div class="login-section centered">
          <h2 class="login-heading">
            <i class="fas fa-user-check"></i> <!-- Icon -->
            Login
          </h2>
          <a href="{{ url_for('login') }}">User Login</a>
          <a href="{{ url_for('admin_login') }}">Admin Login</a> <!-- Link to Admin Login page -->
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <p>&copy; 2024 Prasad Institute. All rights reserved.</p>
  </footer>
</body>
</html>
