<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='user_dashboard.css') }}">
</head>
<body>
  <header>
    <h1>User Dashboard</h1>
  </header>
  <main>
    <h2>Select a Subject:</h2>
    <ul class="subjects">
      <li><a href="{{ url_for('enrollment', subject='Pharmacology') }}"><button>Pharmacology</button></a></li>
      <li><a href="{{ url_for('enrollment', subject='Pharmaceutical Chemistry') }}"><button>Pharmaceutical Chemistry</button></a></li>
      <li><a href="{{ url_for('enrollment', subject='Pharmaceutics') }}"><button>Pharmaceutics</button></a></li>
      <li><a href="{{ url_for('enrollment', subject='Pharmacokinetics') }}"><button>Pharmacokinetics</button></a></li>
      <li><a href="{{ url_for('enrollment', subject='Toxicology') }}"><button>Toxicology</button></a></li>
      <li><a href="{{ url_for('enrollment', subject='Biopharmaceutics') }}"><button>Biopharmaceutics</button></a></li>
      <li><a href="{{ url_for('enrollment', subject='Medicinal Chemistry') }}"><button>Medicinal Chemistry</button></a></li>
    </ul>
  </main>
  <footer>
    <a href="{{ url_for('index') }}">Logout</a>
  </footer>
</body>
</html>
